# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы .env
venv/
.env

# Игнорировать логи
*.log
*.tmp

# Игнорировать билды
/dist/
/build/

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp

# Кэш Python
__pycache__/
*.pyc