# Файлы Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Виртуальное окружение
venv/
.env/
.venv/
env/
ENV/

# Файлы переменных окружения
.env
.env.local
.env.*.local

# Логи и отладочные файлы
*.log
*.sqlite
*.sqlite3

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo
*~

# Тестовые и сборочные файлы
build/
dist/
*.exe
*.out
*.spec
.coverage
htmlcov/
.pytest_cache/

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini